<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login or SignUp</title>
	<link rel="stylesheet" type="text/css" href="/css/loginstyle.css">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
	<div class="hero">
		<div class="form-box">
			<div class="button-box">
				<div id="btn"></div>
				<button type="button" class="toggle-btn" onclick="login()">Sign In</button>
				<button type="button" class="toggle-btn" onclick="signup()">Sign up</button>
			</div>
			<div class="social-icons"><p>Or login with</p></div>
			<div class="social-icons">
				<a href="https://accounts.google.com"><img src="img/login/google.png"></a>
				<a href="https://www.instagram.com/login"><img src="img/login/instagram.png"></a>
				<a href="https://id-id.facebook.com/login"><img src="img/login/facebook.png"></a>
				<a href="https://www.twitter.com/login"><img src="img/login/twitter.png"></a>
			</div>
			<br>
			<form id="login" method="post" class="input-group" action="/api/auth/login">
				<input name="email" type="text" class="input-field" placeholder="Email" required>
				<input name="password" type="password" class="input-field" placeholder="Password" required>
				<input type="checkbox" class="check-box"><span>Remember Password</span>
				<button type="submit" class="submit-button">Log In</button>

			</form>
			<form id="signup" method="post" class="input-group" action="/api/auth/register">
				<input name="email" type="text" class="input-field" placeholder="Email" required>
				<input name="full_name" type="text" class="input-field" placeholder="Full Name" required>
				<input name="password" type="password" class="input-field" placeholder="Password" required>
				<input type="checkbox" class="check-box"><span>I agree to the terms & conditions</span>
				<button type="submit" class="submit-button" href="/logins">Sign Up</button>

			</form>
		</div>

	</div>



	<script>
		var x = document.getElementById("login");
		var y = document.getElementById("signup");
		var z = document.getElementById("btn");

		function signup(){
			x.style.left = "-400px"
			y.style.left = "50px"
			z.style.left = "110px"

		}

		function login(){
			x.style.left = "50px"
			y.style.left = "450px"
			z.style.left = "0px"

		}

	</script>
</body>
</html>
